header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: lightblue;
  padding:1em;
  font-family: 'Roboto Mono', monospace;
  font-weight:bolder;
  margin-bottom: 10px;
  height:40vh;
}

#info-section {
  height: auto;
  border: 1px solid black;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
}

#roborogers-info {
  display: flex;
  justify-content: center;
  text-align:center;
  padding-top: 6em;
  padding-left: 1em;
}

img {
  float: left;
  height: 300px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
  padding:1em;
}

#form-number {
  border: 1px solid black;
  padding: 1em;
}

#results-area {
  height:auto;
  border:1px solid black;
  padding: 1em;
}

footer {
  height: auto;
  padding:1em;
  padding-top: 2em;
  background:lightblue;
  margin-top:10px;
}

h3, h4, li {
  font-family: 'Roboto Mono', monospace; 
}

#instructions, label {
  font-family: 'Roboto Slab', serif;
}